<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>book Page</title>
</head>
<body>
<h1>도서</h1>
<hr>
<div th:if="${BookDTO == null}">
  <form method="post" action="/bookCreate">
    <div>
      <div>
        <label>도서명</label>
        <input type="text" name="bookName">
      </div>
      <div>
        <label>가격</label>
        <input type="text" name="price">
      </div>

      <label>분류</label>
      <select name="bookType">
        <option value="b02">웹 프로그래밍</option>
        <option value="b04">데이터베이스</option>
        <option value="b05">인프라</option>
        <oprtion value="b01">자바 프로그래밍</oprtion>
        <option value="b03">빅데이터</option>
      </select>
      <div>
        <input type="submit" value="등록">
      </div>
    </div>
  </form>
</div>
<div th:if="${BookDTO}">
  <h1>
    입력된 도서정보
  </h1>
  <hr>
  <div>
    <div>
      이번 요청에서 book테이블에 저장된<br>도서정보 출력
    </div>
    <p th:text="${BookDTO.bookType}"></p>
    <p th:text="${BookDTO.bookName}"></p>
    <p th:text="${BookDTO.price}"></p>
    <a th:href="@{/bookinfo/b1}">전체 리스트 출력</a>
  </div>
</div>
</body>
</html>
